
/* Mobile Devices */
@media screen and (max-width: 762px) {
    body {
        font-size: 0px;

    }

    .title h1 {
        font-size: 40px;
    }

    .title p {
        font-size: 13px;
        line-height: 20px;
        padding-bottom: 30px;
        word-break: normal;
    }

    .quebra-linha {
        display: block;
        padding: 5px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
        list-style-type: none;
        position: relative;
        bottom: 20px;
        left: 25px;
        width: 80%;

    }

    nav ul li a {
        width: 100%;
        padding: 10px;
        font-size: 10px;

    }

    main {
        margin: -8px;
        margin-top: -10px;
        padding-bottom: 50px;
        width: 102%;
    }


    .img-androids {
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
    }

    .img-criadora {
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
    }


    .video-android {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        margin-left: 5px;
        overflow: hidden;
    }

    .video-android iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .conteudo h1 {
        font-size: 20px;
    }

    .conteudo h2 {
        font-size: 15px;
    }

    .conteudo p {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .conteudo-extra ol {
        font-size: 15px;
    }

    .conteudo-extra h3 {
        font-size: 18px;
    }

    .conteudo-extra p {
        font-size: 16px;

    }

    .fim-artigo {
        font-size: 16px;
        line-height: 25px;
    }

    footer p {
        font-size: 13px;
    }
}

/* Mobile landscape */
@media only screen and (max-width: 926px) and (orientation: landscape) {
    header .title p{
        padding-bottom: 55px;
    }

    main {
        max-width: 100%;
        margin: auto;
    }
}



/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1180px) {

    main {
        margin: -21px auto;
        padding-bottom: 50px;
        max-width: 100%;
        
    }

    .video-android {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        margin-left: 5px;
        overflow: hidden;
    }

    .video-android iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* Tablets landscape */
@media only screen and (max-width: 1280px) and (orientation: landscape) {
    main {
        
        width: 100%;
        margin: -20px auto;
    }
    
}


@media (width: 320px) {
    nav ul li a {
        font-size: 8px;
    }
}