

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color4);
    padding: 0;
    margin: 0;

}

header {
    font-family: var(--font-conteudo);
}

.navegation {
    padding: 0;
    background: var(--color2);
    box-shadow: 3px 3px 8px var(--color3);

}

.title {
    padding: 33px;
    color: var(--color4);
    text-align: center;
}

.title h1 {
    font-weight: bolder;
    font-size: 55px;
}

.title p {
    font-weight: normal;
    font-size: 20px;
    padding: 20px;
    padding-top: 2em;
}

.quebra-linha {
    display: block;
    padding: 5px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style-type: none;
    position: relative;
    bottom: 30px;
    left: 20px;
    width: 80%;

}

nav ul li a:hover {
    transition: all 0.3s ease-in-out;
    background: var(--color5);
    color: var(--color2);
    border-radius: 5px;
}

nav ul li a {
    color: var(--color1);
    text-decoration: none;
    padding: 5px;
    font-weight: bolder;
    font-size: 19px;
  }


main {
    border-radius: 0px 0px 6px 6px;
    width: 1057px;
    padding: 10px;
    margin: -20px 20px 20px 145px;
    background: var(--color4);
    box-shadow: 1px 2px 6px var(--color3);
}

main a:hover {
    text-decoration: underline;
    background-color: var(--color6);
}


main a {
    text-decoration: none;
    color: var(--color2);
    background-color: var(--color5);
}


.conteudo h1 {
    font-size: 26px;
    padding: 15px;
    color: var(--color2);
    font-family: var(--font-title);

}

.conteudo h2 {
    font-size: 18px;
    padding: 11px;
    font-family: var(--font-title);
    background-image: linear-gradient(50deg, var(--color8), transparent);
    color: var(--color7);
}

.conteudo p {
    text-indent: 16px;
    font-size: 17px;
    font-weight: 500;
    line-height: 27px;
    padding: 15px;
    font-family: var(--font-conteudo);

}

.img-androids img {
    max-width: 100%;
    height: auto;

}


.img-criadora img {
    max-width: 100%;
    height: auto;
}


.img-bugdroid {
    text-align: center;
    max-width: 100%;


}

.video-android {
    margin: -10px;
    padding: 20px;
    text-align: center;
    background: var(--color2);
}

.conteudo-extra {
    border-radius: 6px;
    margin: 30px 8px 30px 8px;
    background: var(--color1);
    box-shadow: 3px 3px 8px var(--color11);
}

.conteudo-extra h3 {
    padding: 15px 10px 13px 10px;
    border-radius: 6px 6px 0px 0px;
    color: var(--color4);
    background: var(--color2);
}

.conteudo-extra p {
    text-indent: 16px;
    font-size: 19px;
    font-weight: 600;
    padding: 15px;
}

.conteudo-extra li {
    padding: 0px 0px 0px 10px;
}

.conteudo-extra ol {
    display: inline-block;
    vertical-align: top;
    margin-right: 20%;
    font-weight: bold;
    list-style-type: none;

}

.conteudo-extra li::before {
    content: "✓ ";
    font-weight: bolder;

}

.fim-artigo {
    text-indent: 16px;
    font-size: 20px;
    font-weight: bolder;
}

footer {
    height: 32px;
    color: var(--color4);
    text-align: center;
    background: var(--color2);
    padding: 25px;
}

footer a {
    color: var(--color12);

}

footer p {
    position: relative;
    bottom: 9px;

}